html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 .hidden {
   display: none !important;
   flex: 0;
   transition: 300ms;
 }

 h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #F0524C;
}

h3{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #93C5FD;
  padding: 10px;
}
h5{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
p {
  color:white;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');